body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.fondo {
    width: 100vw;
    min-width: 235px;
    height: 200px;
    position: absolute;
    z-index: -2;
    top: 0;
}

.fondo img {
    width: 100%;
    height: 100%;
    padding-bottom: 1px;
}

.fondo .fondo-blanco {
    width: 100%;
    border-radius: 9999% 30% 0% 0;
    height: 100px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.col-izquierda img {
    border: 3px solid #0f1656;
    border-radius: 50%;
    width: 120px;
    margin-top: 10px;
    margin-right: 5px;
}

.img-nombre {
    display: flex;
    align-items: center;
}

.img-nombre h1 {
    grid-column: none;
    text-align: center;
    color: #fff;
}

.profecionalismo {
    text-align: end;
    margin-bottom: 20px;
}

.tituloContenido {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.tituloContenido h5 {
    color: #0f1656;
    font-weight: bold;
    margin-bottom: 0;
    min-width: max-content;
}

.tituloContenido .linea {
    width: 100%;
    height: 2px;
    background-color: #04048f;
    margin: 0 0 0 5px;
}

.listaDatos {
    list-style: none;
    padding: 0;
}

.listaDatos i {
    color: #6610f2;
    min-width: 17px;
    font-size: 18px;
}

.divPerfile {
    text-align: justify;
}

.exp {
    border-left: 1px solid #0f1656;
    /* border: 1px solid #0f1656; */
    margin-left: 10px;
    padding: 10px 10px 10px 20px;
    position: relative;
}

.exp .circulo {
    background: #0f1656;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    left: -7.6px;
}

.exp ul,
.exp p {
    transition: 2s;
}

.listaAcademic {
    list-style-type: disclosure-closed;
    padding: 0;
}

.listaAcademic h6 {
    FONT-WEIGHT: bold;
    margin-bottom: 2px;
}

.listaAcademic .anio {
    font-size: 1rem;
    margin-bottom: 5px;
    FONT-WEIGHT: bold;
}

.listaExp {
    list-style-type: disclosure-closed;
    padding: 0;

    transition: 2s;
}

.exp:hover>.listaExp {
    font-size: 1rem;
}

.exp:hover>p {
    margin-bottom: 1rem;
}

.listaExp li {
    margin-bottom: 7px;
    text-align: justify;
}

.listaAcademic p {
    transition: 2s;
}

.exp:hover>.listaAcademic p {
    font-size: 1rem;
}


.progress100 {
    background: #6610f2;
}

.progress75 {
    background: #6610f2bd;
}

.progress50 {
    background: #6610f27d;
}

.progress25 {
    background: #6610f22b;
}

#btnUbi {
    cursor: pointer;
}

#btnUbi:hover p {
    text-decoration-line: underline;
}

.icon-dato {
    display: flex;
}

.icon-dato p {
    margin-bottom: 0;
    margin-left: 4px;
}

iframe {
    width: 100%;
    height: 450px;
}

.col-derecho {
    display: none;
}

.izquierda {
    display: none;
}

.min-1000 {
    display: block;
}

.max-1000 {
    display: none;
}

@media screen and (min-width: 992px) {

    /* .col-izquierda {
        display: grid;
        grid-template-columns: min-content;
        margin: 0;
        grid-gap: 20px;
        grid-template-areas: "img-nombre img-nombre"
            "profecionalismo profecionalismo"
            "h2DatosPersonales sobreMi"
            "h2DatosPersonales workExperience"
            "h2DatosPersonales workExperience"
            "h2DatosPersonales Academic";
    } */
    .col-derecho {
        display: block;
    }

    .izquierda {
        display: block;
    }

    .min-1000 {
        display: none;
    }

    .img-nombre {
        grid-area: img-nombre;
    }

    .profecionalismo {
        grid-area: profecionalismo;
    }

    #sobreMi {
        grid-area: sobreMi;
    }

    #workExperience {
        grid-area: workExperience;
    }

    #Academic {
        grid-area: Academic;
    }

    .exp p {
        margin-bottom: 0;
    }

    .listaExp {
        font-size: 0;
    }

    .listaAcademic p {
        font-size: 0;
    }
}